{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} {{ post['title'] }} {% endblock %}</h1>
    {% block author %} {{ session['username'] }} {% endblock %}
    <span class="badge badge-primary">{{ post['created'] }}</span>
{#    {% if session['user_id'] == post['author_id'] or session.get('is_admin') %}#}
{#    <a href="{{ url_for('edit', post_id=post['id']) }}">#}
{#        <span class="badge badge-warning">编辑</span>#}
{#    </a>#}
{##}
{#    {% endif %}#}

    {% if session['user_id'] == post['author_id'] or session.get('is_admin') %}
    <div class="mt-2 d-flex gap-2">
        <a href="{{ url_for('edit', post_id=post['id']) }}" class="btn btn-warning btn-sm">
            编辑
        </a>

        <form action="{{ url_for('delete', post_id=post['id']) }}" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确定要删除吗？')">
                删除
            </button>
        </form>
    </div>
    {% endif %}
    <p>{{ post['content'] }}</p>

{#    <hr>#}
{#    {% if session['user_id'] == post['author_id'] or session.get('is_admin') %}#}
{#    <form action="{{ url_for('delete', post_id=post['id']) }}" method="POST">#}
{#        <input type = "submit" value="删除文章" class="btn btn-danger btn-sm" onclick="return confirm('确定要删除吗？')">#}
{#    </form>#}
{#    {% endif %}#}
    <hr>

    <form method="POST" action="{{ url_for('like', post_id=post['id']) }}">
        <button type="submit" class="btn btn-outline-success">点赞</button>
        <span>已点赞 {{ like_count }} 次</span>
    </form>

    <hr>
    <h4>评论区</h4>
    {% if session['username'] %}
    <form method="POST">
        <textarea name="content" placeholder="天青色等烟雨，评论区在等你" class="form-control mb-2"></textarea>
        <button type="submit" class="btn btn-primary">发表评论</button>
    </form>
    {% else %}
    <p><a href="{{ url_for('login') }}">登录</a>后才能评论</p>
    {% endif %}

    {% for comment in comments %}
    <div class="border p-2 my-2">
    <strong>{{ comment['username'] }}</strong>：{{ comment['content'] }}<br>
    <small class="text-meted">{{ comment['created'] }}</small>
    </div>
    {% endfor %}

{% endblock %}