{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">#}
{#    <title>kanaa博客</title>#}
{#</head>#}
{#<body>#}
{#    <h1>欢迎访问kanaa的博客</h1>#}
{#    <h2>欢迎访问kanaa的博客</h2>#}
{#</body>#}
{#</html>#}
{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} 欢迎访问kanaa的博客！ {% endblock %}</h1>

    <form action="{{ url_for('search') }}" method="get" class="form-inline mb-4">
        <input type="text" name="q" class="form-control mr-2" placeholder="搜索标题或内容..." value="{{ search_query or '' }}">
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>

    {% for post in posts %}
         <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
         </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}